.user-item--default, .user-item--large{
  max-width: fit-content;
   
}

.user-item--default a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;

}

.user-item__content--default {
  padding: 0rem !important;
}

.user-item__image--default {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  
}

.user-item__info--default h2 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  color: black
}

.user-item--large {
  margin-left: 3rem;
   
}

.user-item__image--large {
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  
}

.user-item--large a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  cursor: default;
 
}

.user-item__info--large h2 {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  color: black
}
