.place-item {
  margin: 1rem 0;
  display: flex;
  width: 100%;
}

.place-item__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.place-item__header svg{
  cursor: pointer;
}

.more-actions-list {
  position: absolute;
  top:80%;
  right:0;
  display: flex;
  flex-direction: column;
}

.more-actions-list {
  background-color: var(--foreground);
  border: 1px solid var(--border);
  color: var(--text);
  padding: 10px;
  list-style: none;
}
.more-actions-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
  gap: 1rem;
  
}

.more-actions-list a span {
  width: 60%;
  text-align: left;
}

.more-actions-list a:hover {
  background-color: var(--secondary)
}
.place-item__content {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.place-item__info {
  padding: 1rem;
  text-align: center;
}

.place-item__image {
  width: 100%;
  height: auto;
  max-height: 25rem;
  margin-right: 1.5rem;
}

.place-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 0.5rem 0;
}

.place-item__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;

}

.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem;
}

.map-container {
    height: 20rem;
    width: 100%;
}

/* @media (min-width: 768px) {
  .place-item__image {
    height: 20rem;
  } 
} */
