@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --primary: #2c6e49;
  --primary-content: #ffffff;
  --primary-dark: #1d4a31;
  --primary-light: #358558;

  --secondary: #d68c45;
  --secondary-content: #232926;
  --secondary-dark: #E69549;
  --secondary-light: #F09B4D;

  --background: #eef1f0;
  --foreground: #fbfbfb;
  --border: #dce2df;

  --text: #232926;
  --text-light: #5e6e65;
  --text-lighter: #83968b;

  --success: #2c6e2c;
  --error: #C90000;
  --error-light: #EB0000;
  --success-content: #b7e2b7;
  --error-content: #e2b7b7;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins',  sans-serif;
  background-color: var(--background);
}
